################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/FirstPractice/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/FirstPractice/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/FirstPractice/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/FirstPractice/obj/Debug/FirstPractice.pdb
/FirstPractice/obj/Debug/FirstPractice.dll
/FirstPractice/obj/Debug/FirstPractice.csprojResolveAssemblyReference.cache
/FirstPractice/obj/Debug/FirstPractice.csproj.FileListAbsolute.txt
/FirstPractice/obj/Debug/FirstPractice.csproj.CoreCompileInputs.cache
/FirstPractice/obj/Debug/FirstPractice.csproj.CopyComplete
/FirstPractice/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
